{% extends "ecolector/base-dashboard.html" %}

{% block body_block %}
<!-- MAIN CONTENT-->
<div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                    <!-- Date picker-->
                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 40%; margin-bottom: 10px; float: right">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                        </div>

                        <div class="overview-wrap">
                            <h2 class="title-1">Reportes</h2>
                        </div>
                    </div>
                </div>
                <div class="row m-t-25">
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-bitbucket" aria-hidden="true"></i>
                                    </div>
                                    <div class="text">
                                        <h2>16</h2>
                                        <span>cubetas orgánicas recogidas</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-bitbucket" aria-hidden="true"></i>
                                    </div>
                                    <div class="text">
                                        <h2>20</h2>
                                        <span>cubetas de plástico recogidas</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c2">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                    </div>
                                    <div class="text">
                                        <h2>160</h2>
                                        <span>kg de basura orgánica</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c2">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                    </div>
                                    <div class="text">
                                        <h2>2</h2>
                                        <span>kg de plástico entregado</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c3">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="zmdi zmdi-calendar-note"></i>
                                    </div>
                                    <div class="text">
                                        <h2>{{total_routes}}</h2>
                                        <span>rutas completadas</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart3"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Historic chart-->
                <div class="row">
                        <div class="col-lg-12">
                            <h2 class="title-1 m-b-25">Consulta de ganacias</h2>
                            <div class="overview-item overview-item--c4">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-money"></i>
                                        </div>
                                        <div class="text">
                                            <h2>{{total_earning}}</h2>
                                            <span>ganancias obtenidas</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart4-1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <!-- Google Maps API-->
                <!--
                <div class="row">
                        <div class="col-lg-12">
                            <h2 class="title-1 m-b-25">Ruta actual</h2>
                            <div class="table-responsive table--no-card m-b-40">
                                <div id="map"></div>
                            </div>
                        </div>
                </div>
                -->

                
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="title-1 m-b-25">Rutas completadas</h2>
                        <div class="table-responsive table--no-card m-b-40">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Nombre de ruta</th>
                                        <th class="text-right">Ganancia</th>
                                        <th class="text-right">Cubetas orgánicas</th>
                                        <th class="text-right">Cubetas con plástico</th>
                                        <th class="text-right">Kilos orgánicos</th>
                                        <th class="text-right">Kilos de plástico</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for route in routes_data %}
                                    <tr>
                                        <td>{{route.0}}</td>
                                        <td>{{route.2}}</td>
                                        <td class="text-right">${{route.3}}</td>
                                        <td >{{route.4}}</td>
                                        <td >{{route.4}}</td>
                                        <td >{{route.4}}</td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    
    
    <script type="text/javascript">
        $(function() {
        
            var start = moment().subtract(29, 'days');
            var end = moment();
        
            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
        
            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                   'Today': [moment(), moment()],
                   'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                   'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                   'This Month': [moment().startOf('month'), moment().endOf('month')],
                   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
        
            cb(start, end);
        
        });
        </script>
{% endblock %}
<!-- end document-->
